body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

#about-me {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
}

#about-me h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

#about-me p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.download-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-link:hover {
  background-color: #005fa3;
}
#portfolio {
    margin: 20px auto;
    text-align: center;
}

.portfolio-item {
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f9f9f9;
}

.portfolio-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.portfolio-item h3 {
    font-size: 20px;
    margin: 10px 0;
}

.portfolio-item p {
    font-size: 16px;
    color: #555;
}

.portfolio-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}

.portfolio-item a:hover {
    background-color: #0056b3;
}
